@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --darkOrange: #ce770d;
  --lightOrange: #ff9311;
  --darkGreen: #2c3333;
  --darkBlue: #00223b;
  --white: #f5f5f5;
  --pink: #cf4286;
  --purple: #622745;
}

body {
  margin-right: 0;
  width: 95vw;
  font-family: arial;
  background-color: var(--darkGreen);
}

.App {
  text-align: center;
}

.vinyl-logo {
  margin-top: -5vh;
  height: 15vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .vinyl-logo {
    animation: jumping infinite 5s linear;
  }
}

.App-header {
  background-color: var(--darkGreen);
  min-height: 100vh;
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spotify-logo {
  height: 4vh;
}

@keyframes jumping {
  25% {
    transform: translateY(-20px) rotate(90deg);
  }
  50% {
    transform: translateY(170px) rotate(180deg);
  }
  75% {
    transform: translateY(100px) rotate(270deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}
